<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <%- include("./imports.ejs") %>
</head>
<body>

    <h2>Pokemon Profile</h2>

    <img src="<%= pokeProfile.img %>" alt="Pokemon Image">

    <h2 class="name"><%= pokeProfile.name %></h2>
    
    <div class="type">
        <h4>Type:</h4> 
        <h5><%= pokeProfile.type %></h5>
    </div>

    <div class="stats">
        <h4>Stats:</h4>
        <h5>HP: <%= pokeProfile.stats.hp %></h4>
        <h5>Attack: <%= pokeProfile.stats.attack %></h4>
        <h5>Defense: <%= pokeProfile.stats.defense %></h4>
    </div>

    <div class="change">
        <a href="/pokemon/<%= id %>/edit"><button>Edit</button></a>

        <form action="/pokemon/<%= id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete"/>    
        </form>

    </div>

    <h4><a href="/pokemon">Homepage</a></h4>

    
</body>
</html>